body
{
	background: url('../images/bg.png') fixed no-repeat;
}
#main
{
	position: relative;
	top: 10px;
	width: 80%;
	margin: auto;
	padding-bottom: 30px;
}
a
{
	color: #000;
	text-decoration: none;
}
a:hover
{
	text-decoration: underline;
}
