@media screen and (max-device-width: 480px) {

#main
{
	margin: 40px auto;
	padding: 0 20px;
}

}
@media screen and (min-width: 480px) {

#main
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -160px;
	width: 400px;
	border-radius: 0.325em 0.325em 0 0;
	box-shadow: 0 0 20px rgba(172, 172, 172, 0.8);
}

}

body
{
	background: url('../images/bg.png') fixed no-repeat;
}
#response
{
	display: none;
}
#button_div
{
	width: 100%;
	text-align: center;
}
