body
{
	background: url('../images/bg.png') fixed no-repeat;
}
#main
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -200px;
	margin-top: -200px;
	width: 400px;
	border-radius: 0.325em 0.325em 0 0;
	box-shadow: 0 0 20px rgba(172, 172, 172, 0.8);
}
#response
{
	display: none;
}
#button_div
{
	width: 100%;
	text-align: center;
}
.ui.positive.message a {
  color: #52A954;
}
