#container
{
	font-family: "Source Han Sans Regular", "文泉驛微米黑", "微軟正黑體", Consolas, sans-serif;
	width:70%;
	margin:auto;
	font-size:11pt;
}
#reason_ta
{
	height:40px;
}
#expection_ta
{
	height:40px;
}

