body
{
	background: url('../images/bg.png') fixed no-repeat;
}
#container
{
	font-family: "Source Han Sans Regular", "文泉驛微米黑", "微軟正黑體", Consolas, sans-serif;
	width:70%;
	margin:auto;
	font-size:11pt;
	padding: 10px 0;
}
.ui.positive.message a {
  color: #52a954;
}
.ui.labeled.dropdown
{
	padding-right: 40px !important;
}
.ui.labeled.dropdown .corner.label
{
	font-size: 0.7em;
	border-radius: 0px 0.3125em
}
.ui.radio.checkbox
{
	margin-top: 9px;
}
textarea
{
	height:40px;
}
#button_div
{
	text-align:center;
}
.ui.button
{
	margin: 0 20px;
}
