body
{
	background: url('../images/bg.jpg') ;
	font-family: "Source Sans Pro", "Consolas", sans-serif;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	font-size: 20pt;
	width: 100%;
}
img
{
	font-size: 30pt;
	display: block;
	text-align: center;
	margin: auto;
}

#main
{
	position: relative;
	width: 80%;
	margin: 0 auto;
}

#top
{
	width: 100%;
	min-width: 800px;
	margin: 70px auto;
}
#top .ui.segment
{
	height: 400px;
}
#NavBar
{
	position: absolute;
	width: 100%;
	min-width: 800px;
	/*box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);*/
}
#NavBar > .item,
#NavBar > .item > a
{
	font-size: 20pt;
	color: #fff;
}
#NavBar .item.green { background-color: #58CB73; }
#NavBar .item.red { background-color: #D95C5C; }
#NavBar .item.purple { background-color: #564F8A; }
#NavBar .item.teal { background-color: #00B5AD; }

#NavBar .item .menu
{
	display: none;
}

#NavBar.Float
{
	position: fixed;
	top: 20px;
	margin-left: -30px;
}
/*#NavBar.Float.ui.pointing.menu .active.item:after {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}*/
#NavBar.Float .item
{
	background-color: transparent;
	width: 200px;
	color: #000;
}

#NavBar.Float .item.green { color: #A1CF64; }
#NavBar.Float .item.red { color: #D95C5C; }
#NavBar.Float .item.purple { color: #564F8A; }
#NavBar.Float .item.teal { color: #00B5AD; }

#NavBar.Float .item .menu
{
	display: block;
}
#NavBar.Float .item .menu
{
	font-size: 20pt;
}


#content
{
	position: relative;
	left: 220px; 
	width: 80%;
	margin-top: 200px;
}

.ui.ribbon.label {
	font-size: 18pt;
	left: -3.5rem;
	padding-left: 3rem;
}

#footer
{
	position: relative;
	width: 80%;
	margin: 60px auto;
}
