body
{
	position: absolute;
	width: 100%;
	min-width: 1000px;
}
body.chrome,
body.safari
{
	background: url('../images/bg.png') repeat;
}
body.firefox
{
	background: url('../images/bg.png') fixed no-repeat;
}

*::selection
{
	color: #c30;
	background: #ffa;
	text-shadow: 0 0 5px #c30;
}
*::-moz-selection
{
	color: #c30;
	background: #ffa;
	text-shadow: 0 0 5px #c30;
}

#main
{
	position: relative;
	width: 80%;
	margin: 0 auto;
	font-family: "Source Han Sans Regular", "文泉驛微米黑", "微軟正黑體", Consolas, sans-serif;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
	font-size: 18pt;
}

#top
{
	position: fixed;
	z-index: 10;
	top: 40px;
	width: 80%;
	margin: auto;
}
#slides,
#slides img
{
	margin: auto;
	width: 680px;
	border-radius: 20px;
}
.slidesjs-container
{
	border-radius: 20px;
	box-shadow: 0 0 5px #000;
}
.slidesjs-pagination {
	margin: 8px 10px 0;
	float: right;
	list-style: none;
}
.slidesjs-pagination li {
	float: left;
	margin: 0 1px;
}
.slidesjs-pagination li a {
	display: block;
	width: 13px;
	height: 0;
	padding-top: 13px;
	background-image: url('../images/pagination.png');
	background-position: 0 0;
	float: left;
	overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
	background-position: 0 -13px
}
.slidesjs-pagination li a:hover {
	background-position: 0 -26px
}
a.slidesjs-next,
a.slidesjs-previous,
a.slidesjs-play,
a.slidesjs-stop {
	background-image: url('../images/btns-next-prev.png');
	background-repeat: no-repeat;
	display:block;
	width:12px;
	height:18px;
	overflow: hidden;
	text-indent: -9999px;
	float: left;
	margin: 7px 0 0 20px;
}
a.slidesjs-next {
	margin-right:10px;
	background-position: -12px 0;
}
a:hover.slidesjs-next {
	background-position: -12px -18px;
}
a.slidesjs-previous {
	background-position: 0 0;
}
a:hover.slidesjs-previous {
	background-position: 0 -18px;
}
a.slidesjs-play {
	width:15px;
	background-position: -25px 0;
}
a:hover.slidesjs-play {
	background-position: -25px -18px;
}
a.slidesjs-stop {
	width:18px;
	background-position: -41px 0;
}
a:hover.slidesjs-stop {
	background-position: -41px -18px;
}
#bottom
{
	position: relative;
	z-index: 20;
	top: 540px;
}
body.chrome #bottom,
body.safari #bottom
{
	background: url('../images/bg.png') repeat;
}
body.firefox #bottom
{
	background: url('../images/bg.png') fixed no-repeat;
}
#NavBar
{
	position: absolute;
	z-index: 40;
	width: 100%;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	/*box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);*/
}
#NavBar #fb-like
{
	position: absolute;
	opacity: 0;
}
#NavBar > .item,
#NavBar > .item > a
{
	font-size: 20pt;
	color: #fff;
}
#NavBar .item.green { background-color: #58CB73; }
#NavBar .item.red { background-color: #D95C5C; }
#NavBar .item.purple { background-color: #564F8A; }
#NavBar .item.teal { background-color: #00B5AD; }
#NavBar .item.orange { background-color: #FF7038; }

#NavBar .item .menu
{
	display: none;
}

#NavBar.Float
{
	position: fixed;
	top: 20px;
	margin-left: -30px;
	width: 200px;
	box-shadow: 0 0 0;
	border-radius: 0;
}
#NavBar.Float #fb-like
{
	opacity: 1;
	position: relative;
	left: 24px;
	margin: 10px 0;
}
/*#NavBar.Float.ui.pointing.menu .active.item:after {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.3);
}*/
#NavBar.Float .item
{
	background-color: transparent;
	color: #000;
}

#NavBar.Float .item.green { color: #A1CF64; }
#NavBar.Float .item.red { color: #D95C5C; }
#NavBar.Float .item.purple { color: #564F8A; }
#NavBar.Float .item.teal { color: #00B5AD; }
#NavBar.Float .item.orange { color: #F05940; }

#NavBar.Float .item .menu
{
	display: block;
	width: 205px;
	font-size: 20pt;
}


#content
{
	position: relative;
	z-index: 30;
	left: 220px;
	padding-top: 130px;
	padding-bottom: 20px;
	width: 80%;
}

.block
{
	border: 1px solid #ddd;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
}
.block p,
.block li,
.block a
{
	color: #5F4B42;
	text-shadow: 1px 1px 5px #937647;
	line-height: 28pt;
	text-decoration: none;
}
.block a:hover
{
	text-decoration: underline;
}

.ui.ribbon.label
{
	font-size: 18pt;
	left: -3.4rem;
	padding-left: 3rem;
	box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.5);
}

#info p
{
	text-align: center;
}

#info .preface
{
	text-align: center;
	font-style: italic;
	line-height: 40pt;
	font-size: 22pt;
}

#staff h3 { color: #564F8A; }

#staff .ui.segment .attached.label
{
	font-size: 18pt;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
#staff .group .column
{
	max-height: 500px;
	font-size: 18pt;
}
#staff .group .photo
{
	text-align: center;
	height: 500px;
}
#staff .group .photo img
{
	border-radius: 10px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
	max-width: 100%;
	max-height: 100%;
}
.emphasis
{
	font-weight: bold;
	border-bottom: 2px dashed #5F4B42;
}
#guestbook .fb.comment
{
	margin-top: 20px;
}
#footer,
#footer a
{
	color: #333;
}
